<div class="main-container">
  <main class="main" style="margin:10%;">
      <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
        Staff Name: <input type="text" name="name" [(ngModel)]="name"><br><br/>
        Schedule Start: <select name="start" [(ngModel)]="start">
            <option value="800">8:00 AM</option>
            <option value="900">9:00 AM</option>
            <option value="1000">10:00 AM</option>
            <option value="1100">11:00 AM</option>
            <option value="1200">12:00 PM</option>
            <option value="1300">1:00 PM</option>
            <option value="1400">2:00 PM</option>
            <option value="1500">3:00 PM</option>
          </select><br/><br/>
          Schedule End: <select name="end" [(ngModel)]="end">
              <option value="1600">4:00 PM</option>
              <option value="1700">5:00 PM</option>
              <option value="1800">6:00 PM</option>
            </select><br/><br/>
            <button type="submit" class="ui button">Save</button>
      </form>
  </main>
</div>