<div class="main-container">
  <main class="main" style="margin:10%;">
    <table border="1" style="width:100%">
			<tr>
			    <th (click)="sortByName()">Staff Name</th>
			    <th (click)="sortByStart()">Schedule Start</th>
			    <th (click)="sortByEnd()">Schedule End</th>
			    <th (click)="sortByHours()">Working Hours</th>
			    <th>Add new staff</th>
			 </tr>
		  <tr *ngFor="let item of staffs">
		    <td>{{item.name}}</td>
		    <td>{{item.startStr}}</td>
		    <td>{{item.endStr}}</td>
		    <td>{{item.hours}}</td>
		    <td><button [routerLink]="['/edit', item]">Edit</button><button (click)="delete(item)">Delete</button></td>
		  </tr>
		</table>
  </main>
</div>